body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 99;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products_logo {
    color: #3cc94c;
}

.header {
    /* width: 100%; */
    color: rgb(253, 76, 76);
    animation: myHeadline 1.5s 0.3s infinite ease;
}

@keyframes myHeadline {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#filter {
    padding: 8px;
    border: none;
    margin: 25px 12px 0 0;
    border-bottom: 1px solid #000;
}

#filter:focus {
    outline: none;
}

#show_products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.border {
    /* border: 1px solid rgb(219, 219, 219); */
    border: 1px solid #3cc94c;
    border-radius: 4px;
    padding: 10px;
    margin: 8px;
    width: 25%;
    text-align: center;
    /* background-color: #3cc94c; */
    /* color: #fff; */
}

@media (max-width: 460px) {
    body {
        width: 100%;
    }

    .border {
        width: 35%;
    }
}

.false {
    /* border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    width: 21%;
    text-align: left; */
    border: 1px solid rgb(253, 76, 76);
    /* background-color: rgb(253, 76, 76); */
}

.border:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    padding: 8px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #3cc94c;
    color: #fff;
}

.btn:hover {
    scale: 1.03;
}

.btn_disabled {
    visibility: hidden;
}


.innerDiv {
    border: 1px solid #979797;
    background-color: #8ffff9;
    color: #979797;
    width: 95%;
    height: 150px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.danger {
    color: #bb2124;
}