body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form {
    width: 40vw;
    height: 60vh;
    /* padding: 20px; */
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}